name: Our first python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  My-first-CI:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.11", "3.12", "3.13"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Install the project
      # Hier wird dein Paket installiert, damit pytest es findet
      run: uv pip install -e ".[dev]"

    - name: Lint with Ruff
      # Dieser Befehl prüft deinen Code-Stil
      run: uv run ruff check .

    - name: Test with pytest
      # Dieser Befehl führt deine Tests aus
      run: uv run pytest tests